@import "../styles/globals";

.button 
{
    min-width: 119px;
    min-height: 42px;
    align-items: center;
    justify-content: center;   
    gap: 12px;    
    background:none;
    border-radius: 6px;
    margin: 20px 50px 20px 20px;
    border: 0px solid $border-color;
  
    
    
}

.text {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-family: $text-font;
    color: #006666;
}




.button:hover:not(:disabled) {
    background-color: #E6F0F0;
    box-shadow: none;


  }

  .active:not(:disabled) {
    background-color: $color;
    box-shadow: none;


  }