.header {
    background-color: rgba(47, 0, 255, 0.671);   
    display: inline-flex;  
    
    max-height: 128px;
    flex: 1;
    
    
   
    
    
    
 
    .header__p{        
        align-items: center;
        margin-top: 52px;
        margin-bottom: 52px;
        
    } 
}
.container {

    background-color: rgb(255, 94, 156);    
    display: flex;
    width: 100%;
    flex: 1;
   
     
    min-height: 100vh;
    
    // .container__add{
        
    // }
    


}
.leftMenu {
    background-color: rgb(0, 255, 98);     
    width: 128px;   
    
}
.main {
    background-color: rgb(255, 0, 43);  
    height: 100vh;
    flex: 1;
    
   
     

}
