@import "../styles/globals.scss";

.parent {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 128px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 100vh;
    
    } 

    .leftMenu{
        grid-area: 1 / 1 / 6 / 2; 
        // background-color: rgb(255, 94, 156);
        

    }

    .main{
        grid-area: 2 / 2 / 6 / 6; 
        background-image: url("/image/png/background.png");
        align-items: center;
        justify-content: center;
        
        // background-color: rgb(255, 0, 0);
        
    }

    .header{
        grid-area: 1 / 2 / 2 / 6; 
        // background-color: rgb(81, 0, 211);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border-bottom: 1px solid rgba(224, 224, 224, 1);
        
        .header__start{
            display: flex;
            flex-direction: row;
            margin-left: 38px;

                        
        }
        
        .header__center{
            align-items: center;
            margin-top: 52px;
            margin-bottom: 52px;   
            display: flex;
            flex-direction: row;
            margin-left: 100px;
            color: #828282;
        }

        .header__end{
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
                      
        }


    }