.header {
    background-color: rgb(255, 94, 156);    
    min-height: 128px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;   
    .header__p{
        flex-grow: 6;
    } 
}
.container {
    background-color: rgba(47, 0, 255, 0.671);   
        display: flex;
        min-height: calc(100vh - 128px);

}
.leftMenu {
    background-color: rgb(0, 255, 98);    
    width: 20%;
    min-width: 100px;

}
.main {
    background-color: rgb(255, 0, 43);    
    width: 80%;
    min-width: 1840px;

}
