$main-color: #00EAD9;
$text-font: 'Roboto';
$header-font: 'Lora';
$font-weight: 700;
$color: #231F20;
$white-color: white;
$border-color: #828282;
$disabled-border-color: #E0E0E0;
$default-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
$hover-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
$cheked-shadow: 0px 0px 4px #BDBDBD;
$disabled-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
$default-color: rgba(0, 102, 102, 1);